body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    background-color: #f6f5f5;
    font-size: 19px;

}

.container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
   -moz-border-radius:5px;
   -webkit-border-radius:5px;
    border-radius:5px;

}

.ruler {
    width: 498px;
    background: url("../img/sprites.png") repeat-x -1px -30px;
    height: 2px;
    margin-left: 1px;
    margin-right: 1px;

}

/* Header */

header h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
}


#task-create {
    padding: 20px;
}

/* Task list */

.tasks-list {
    margin-bottom: 75px;
}

.tasks-list ol {
    padding: 0;
    margin: 0;
}

.tasks-list li {
    height: 30px;
    line-height: 30px;
    padding: 20px;
    list-style-type: none;
}

.tasks-list ol .ui-sortable-helper {
    background: #ffffff !important;
    cursor: ns-resize;
}

.tasks-list ol .ui-state-highlight {
    background-color: #f6f5f5 !important;
    height: 30px;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.tasks-list li div.left {
    display: inline-block;
    width: 49%;
    text-align: left;
}

.tasks-list li div.right {
    display: inline-block;
    width: 49%;
    text-align: right;
}

.tasks-list li:hover .handle {
    visibility: visible;
}

.tasks-list li .handle {
    visibility: hidden;
    background: url("../img/sprites.png") -45px -4px;
    width: 12px;
    height: 12px;
    cursor: ns-resize;
    line-height: 30px;
    float:right;
}

.tasks-list li:nth-child(even) {
    background: #ffffff
}

.tasks-list li:nth-child(odd) {
    background: #f4f7fa
}

.tasks-list li input, .tasks-list li label {
    vertical-align: middle;
}

.tasks-list li.done label {
    text-decoration:line-through;
    color: #999999;
}

/* Footer */

footer {
    padding: 20px;
    color: #999999;
}

footer .tasks-complete-all {
    float: right;
    white-space: nowrap;
}

/* Links and inputs */

a, a:visited, a:hover, a:active {
    color: #448ccb;
    text-decoration: none;
}


input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width: 19px;
    height: 19px;
    margin: -2px 4px 0 0;
    vertical-align: middle;
    background: url(../img/sprites.png) no-repeat -23px 0;
    cursor: pointer;
}

input[type="checkbox"]:checked + label span {
    background: url(../img/sprites.png) no-repeat 0 0;
}

input[type="text"] {
    width: 283px;
    font-size: 19px;
    padding: 10px;
    margin-right: 5px;
    vertical-align: middle;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #b7b6b6;
    -moz-box-shadow: 0.5px 0.866px 2px 0px rgba(255, 255, 255, 0.75), inset 0.5px 0.866px 4px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0.5px 0.866px 2px 0px rgba(255, 255, 255, 0.75), inset 0.5px 0.866px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0.5px 0.866px 2px 0px rgba(255, 255, 255, 0.75), inset 0.5px 0.866px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #fefefe;
}

button {
    width: 145px;
    font-size: 14px;
    font-weight: bold;
    color: #454545;
    padding: 12px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #999999;
    background-image: -moz-linear-gradient( 90deg, rgb(214,213,211) 0%, rgb(223,222,221) 51%, rgb(234,233,232) 52%, rgb(235,234,233) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(214,213,211) 0%, rgb(223,222,221) 51%, rgb(234,233,232) 52%, rgb(235,234,233) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(214,213,211) 0%, rgb(223,222,221) 51%, rgb(234,233,232) 52%, rgb(235,234,233) 100%);
    -moz-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.2);
    outline: none;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

button:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
}

::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #999999;
}

:-moz-placeholder { /* Firefox 18- */
    font-family: 'Open Sans', sans-serif;
    color: #999999;
}

::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'Open Sans', sans-serif;
    color: #999999;
}

:-ms-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    color: #999999;
}

