<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Todo</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <style>[ng-cloak] { display: none; }</style>
</head>
<body>

    {# AngularJS app starts here #}
    {% raw %}
    <div class="container" id="task-app">
        <section ng-controller="TaskController">
            <header class="tasks-header">
                <h1>Todos</h1>
            </header>

            <div class="ruler"></div>

            <form role="form" id="task-create" ng-submit="createTask()">
                <input type="text" name="task" placeholder="What needs to be done?" ng-model="newTask" autofocus>
                <button type="submit">Add Todo</button>
            </form>

            <div ng-show="tasks.length" ng-cloak>
                <section class="tasks-list" ng-show="tasks.length" ng-cloak>
                    <ol ui-sortable="sortableOptions" ng-model="tasks">
                        <li ng-repeat="task in tasks track by task.task_id | orderBy:position" ng-class="{done: task.done}">
                            <div class="left">
                                <input id="task-{{ task.task_id }}" type="checkbox" ng-model="task.done" ng-change="task.$update()">
                                <label for="task-{{task.task_id}}"><span></span>{{ task.task }}</label>
                            </div>
                            <div class="right">
                                <span class="handle"></span>
                            </div>
                        </li>
                    </ol>
                </section>

                <div class="ruler" ng-show="tasks.length" ng-cloak></div>

                <footer class="tasks-footer" ng-show="tasks.length" ng-cloak>
                    <span class="tasks-left">{{ tasksLeftCount }} <ng-pluralize count="tasksLeftCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize></span>
                    <span class="tasks-complete-all"><a href ng-click="markAllDone()">Mark all as complete</a></span>
                </footer>
            </div>
        </section>
    </div>
    {% endraw %}
    <script src="{{ url_for('static', filename='js/vendor/requirejs/require.js') }}" data-main="{{ url_for('static', filename='js/app/main') }}"></script>
</body>
</html>
